.contacts {
    padding: 55px 20px 63px;
    text-align: center;
}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-main-black);
    margin: 0 0 60px 0;
}

.button-link {
    width: 210px;
    height: 42px;
    padding: 10px 10px 10px 10px;
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    color: var(--bg-main);
    font-size: 24px;
    font-weight: 500;
}

.button-link:hover {
    opacity: .7;
 }

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto 0;
}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
}
.social-icon:hover{
    fill: lightcoral;
}

.contacts-info {
    width: 260px;
    margin: 35px auto 0;
    color: var(--font-color-gray);
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .socials {
        gap: 20px;
    }
    .social-icon {
        width: 55px;
        height: 55px;
    }
    .contacts-info {
        font-size: 14px;
    }
}